<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Its the page which you can see your Role</title>
</head>
<body>
<table>
    <tr>
        <th> Customer name </th>
        <th> Customer UserType </th>
        <th> Customer Customer Role</th>
        <th> Options availabele   </th>
    </tr>
    <tr     th:each = "customer: ${customerData}">

        <td th:text= "${customer.name}" ></td>
        <td th:text= "${customer.userType}" ></td>
        <td>
            <a  th:if = "${customer.role}==ADMIN">ADMIN</a>
            <a  th:unless = "${customer.role}==ADMIN">USER</a>

        </td>
        <td>
            <a  th:if = "${customer.role}==ADMIN">
                <button >Edit or delete Options</button> </a>
        </td>
    </tr>
</table>

</body>
</html>